*{
    padding: 0;
    margin: 0;
  }


  body{
    width: 100%;
    height: 270vh;
    

    background: linear-gradient(
      to top,
      #dee5ed 0%,
      #dee5ed 85%,
      #0f2d48 85%,
      #0f2d48 100%
    );
    

    
  }
  
  .header-card{
    display:flex;
  
    
    justify-content: space-between;
  

  }
  .dropdown-header{
    display:flex
  }
  .flex-parent-element {
  display: flex;
  padding: 5px;
  margin:10px;
  justify-content: space-between;

   
  }
  li::marker {
    color: red; /* bullet color */
  }
 .request > li::marker{
  color: hotpink;
 }
  
  li{
    padding-top:20px;
  }
  .first{
  
  padding: 30px;
  justify-content: center;
  
  }
.components{
  display: flex;
 
}
